.notifications{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.BCBlue{
    background-color: #5384ff;
}
.BCPink{
    background-color: #f83c7b
}
.taskContainer{
    display: grid;
    grid-template-rows: 1fr 6fr;
    border: 1px solid #e6e9ef;
    background-color: white;
    box-sizing: border-box;
    height: 70vh;
}
.listBody{
    display: grid;
}
.listHeader {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    align-items: center;
}
.boxHeader{
    font-weight: bold;
    flex-grow: 16;
    color: #19243e;
}
.notificationCirle{
    color: white;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    line-height: 3vw;
    width: 3vw;
    font-size: 1.5vw;
}
.task{
    display: grid;
    align-items: center;
    border-top: 1px solid #e6e9ef;
}
.task:hover{
    background-color: #f4f5f8
}