.container{
    display: flex;
    border: 1px solid;
    font-size: 0.8em;
    border-radius: 20px;
    padding: 1vh 1vw;
    color: #8492af;
    font-weight: bold;
}
.select{
    border: none;
    font-weight: bold;
    color: #1f2a43;
}