.salesContnainer{
    display: grid;
    grid-template-rows: 1fr 5fr;
    border: 1px solid #e6e9ef;
    background-color: white;
    box-sizing: border-box;
    height: 52vh;
    padding: 3vh 2vw;
}
.header{
    display: flex;
    justify-content: space-between;
}
.headerText{
    color: #8492af;
    font-size: 2vw;
    font-weight: bold;
}
.main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 3fr;
    grid-gap: 2vw;
    align-items: center;
}
.flesSBetween{
    display: flex;
    justify-content: space-between;
}
.category{
    display: grid;
    grid-template-columns: 1fr 9fr;
}
.colorCircle{
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;
    margin: 23%;
}
.categoriesContainer{
    display: grid;
    align-content: center;
    height: 35vh;
}
.Website{
    background-color: #25396e;
}
.Logo{
    background-color: #5584ff;
}
.Social-Media{
    background-color: #4b74e0;
}
.Adword{
    background-color: #3755a4;
}
.E-commerce{
    background-color: #4164c2;
}
img.graph {
    height: 100%;
    width: 100%;
}
.imgPlaceholder{
    height: 35vh;
}
.categotyName{
    color: #abb4c8;
    margin: 0 0 1vh 1vw;
    font-size: 0.9em;
}