<div class="salesContnainer">
  <div class="flesSBetween">
    <div class="headerText">Your Sales</div>
    <period-selector></period-selector>
  </div>
  <div class="main">
    <div class="imgPlaceholder">
      <img class='graph' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpIiQHv1SidWlWbXerBTQ4RvePayuhchNAjS3k9fW4UgB3GGJn">
    </div>
    <div class="categoriesContainer">
      <div *ngFor='let category of categories' class="category">
        <div class='colorCircle {{category.categoryName}}'></div>
        <div class="categotyName">{{category.categoryName}}</div>
      </div>
    </div>
  </div>
</div>

<!--  -->