.activityLine{
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    padding: 1vh 1vw;
    font-size: 0.9vw;
}
.image{
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    z-index: 8;
}
.firstLine{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1%;
}
.boldText{
    font-weight: bold;
}
.grayText{
    color: #abb4c8;
}
