.menuOpen{
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.menuClose{
    display: grid;
    grid-template-columns: 1fr;
}
.app{
    background-color: #f6f7fa;
    padding: 2vh 2vw;
}
.header{
    color: #17223d;
}
.main{
    display: grid;
    grid-row-gap: 4vh;
}
.charts {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 4%;
}
.lists{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 4%;
}




