<div [ngClass]=pageClass>
  <div class='sideBar'>
    <side-bar [isOpen]="sideBarIsOpened"></side-bar>
  </div>
  <div>
    <!-- <top-bar (toggle)="toggleSideBar()" [isOpen]="sideBarIsOpened"></top-bar> -->
    <div class="app">
      <h2 class="header">Hello Johny!</h2>
      <div class="main">
        <div class="charts">
          <sales-chart></sales-chart>
          <report-chart></report-chart>
        </div>
        <div class='lists'>
          <tasks-list></tasks-list>
          <messages-list></messages-list>
          <activity-list></activity-list>
        </div>
      </div>
    </div>
  </div>
</div>