.taskLine {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    padding: 1vh 1vw;
    cursor: pointer;
    grid-gap: 1vw;
}
.notificationCirle{
    color: white;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    line-height: 3vw;
    width: 3vw;
    font-size: 1.5vw;
}
.BCBlue{
    background-color: #5384ff;
}
.BCPink{
    background-color: #f83c7b
}
.taskName{
    font-weight: bold;
    margin-bottom: 1%;
    color: #19243e;
    font-size: 1vw;
}
.moreVert{
    text-align: center;
    color: gray;
}
.delays{
    color: #fa82ab;
    font-size: 0.7em;
}
.left{
    color: #aaaeb8;
    font-size: 0.7em;
}