body{
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.box{
    border: 1px solid #e6e9ef;
    background-color: white;
    box-sizing: border-box;
}

.mat-icon {
    height: auto !important;
    display: initial !important;
}
