.reportContnainer{
    display: grid;
    grid-template-rows: 1fr 5fr;
    border: 1px solid #e6e9ef;
    background-color: white;
    box-sizing: border-box;
    height: 52vh;
    padding: 3vh 2vw;
}
.header{
    display: flex;
    justify-content: space-between;
}
.headerText{
    color: #8492af;
    font-size: 2vw;
    font-weight: bold;
}
.graph{
    height: 38vh;
    width: 44vw;
}
